// Base
$fs-base: 1rem;

/* Heading font sizes */
$fs-h1: 2.488rem;
$fs-h2: 2.074rem;
$fs-h3: 1.728rem;
$fs-h4: 1.44rem;
$fs-h5: 1.33rem;
$fs-h6: 1.2rem;
$fs-h7: 1.1rem;

// Bigger than Heading font sizes
$fs-xl: 3rem;
$fs-xxl: 4rem;

// Smaler than Heading font sizes
$fs-sm: 0.85rem;
$fs-xsm: 0.7rem;
