.skills {
	padding: $spacing-18 0;
	display: flex;
	flex-flow: wrap;
	align-items: center;
	text-align: center;
	background-color: $clr-secondary;
}

.skills_info {
	padding: 0 $spacing-4 $spacing-12 $spacing-4;
	max-width: 992px;
	margin: $spacing-4 auto;
	white-space: pre-wrap;
	font-size: $fs-h6;
}

// Skill Wall

.skill_wall {
	width: 100%;
	max-width: 992px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.skill_row {
	display: flex;
	width: 100%;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.skill_brick {
	background-color: $clr-secondary-lt;
	border: 1px solid $clr-secondary-dkr;
	margin: $spacing-1;
	border-radius: $br-discrete;
	display: flex;
	align-items: center;
	align-items: center;
	overflow: hidden;
	user-select: none;
	transition: transform 0.2s ease-out;
}

.skill_brick__progress {
	background: $clr-primary;
	background: linear-gradient(45deg, $clr-primary 0%, $clr-primary 100%);
	color: $clr-text-accent;
	padding: $spacing-2 $spacing-3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: background-color 0.2s ease;

	&:hover {
		background: linear-gradient(45deg, $clr-primary-dk 0%, $clr-primary 100%);
	}
}

.skill_name {
	font-size: $fs-base;
	font-weight: 500;

	@include md() {
		font-size: $fs-h7;
	}
}

.skill_level {
	display: none;

	@include sm() {
		display: block;
	}
}

// Skill List

.skills_list {
	width: 50%;
	padding: $spacing-4;
	display: flex;
	flex-flow: column;
}

.skill_bar {
	width: 100%;
	background-color: white;
	border: 1px solid $clr-secondary-dkr;
	border-radius: $br-round;
	margin-bottom: $spacing-4;
	display: flex;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
	transition: transform 0.2s ease-out;

	&:hover {
		transform: scale(1.03);
	}
}
.skill_bar_selected {
	transform: scale(1.03);
}

.skill_bar__progress {
	background-color: $clr-primary-dk;

	&:hover {
		background-color: $clr-primary-dk;
	}
}

.skill_bar__progress {
	background-color: $clr-primary;
	color: $clr-text-accent;
	display: flex;
	justify-content: space-between;
	padding: $spacing-1 $spacing-2;
	transition: background-color 0.2s ease-out;
}

.skills_comment {
	width: 50%;
	padding: $spacing-4;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
