.not_found {
	width: 100%;
	min-height: calc(100vh - $header - $footer - $spacing-2);
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: $spacing-4;

	a {
		font-weight: 600;
		text-decoration: underline;
		color: $clr-primary-ltr;

		&:hover {
			text-decoration: none;
		}
	}
}

.not_found_title {
	font-size: $fs-xl;
	margin: 0 0 $spacing-6 0;
	text-align: center;
	line-height: 1.2;
}

.not_found_text {
	white-space: pre-wrap;
	text-align: center;
	max-width: 992px;
	margin: 0 auto;
}
